*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/rick-morty.avif);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
main{
    background-color: rgb(93, 92, 92);
}
#filters{
    display: flex;
    justify-content: space-between;
}
#filters>input{
  border-radius: 10px;
}
#container-check>label>input{
  border-radius: 100%;
}
#container-check{
    display: flex;
    gap: 5rem;
    font-size: larger;
    font-weight: bolder;
    color: white;
}
.status-filter{
    margin-right: 10px;
}
#Container_cards{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
}
#character_card{
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#contImg{
    flex: 2 1 0%;
    width: 100%;
    }
#contImg img{
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s;
    object-position: center center;
    object-fit: cover; 
}
#infCont{
    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
#namepj{
    -webkit-box-pack: start;
    justify-content: flex-start;
}
#contlocation{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
#locath{
    color: rgb(158, 158, 158);
    padding-bottom: 15px;
}

#pagination{
    display: flex;
    justify-content: space-around;
}
.btn-page{
    width: 25px;
    background-color: gray;
    border-color: white;
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around  ;
    align-items: center;
    

}
footer img{
   max-width: 10vh;
}